
body {
 
  font-family: sans-serif;font-size: 22px;
  margin: 0;
  padding:0;
  background: linear-gradient(-45deg, wheat, rgb(227, 230, 222) );
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
  
}

nav{
  background-color:white;
}

.navbar-light .navbar-nav .nav-link {
  color:black
}


.btn{
  background-color: grey;
  color: black
}

.dropdown-content{
  background-color: #2f2f30
}


.navbar-brand{
  background-color:white;
}

.nav-link{
  background-color: white;
}

.aboutMe{
  color:wheat;
}

.bio{
  color:white;
}

.blob{
  top:50%;
  left:50%;
  /* width:600px; */
  padding:40px;
  box-sizing:border-box;
  border-radius:60% 40% 38% 62% / 55% 58% 50% 49%;
  background-color: #2f2f30;
}

.img-circle{
  background-size: cover;
  object-fit: cover;
  border-radius:60% 40% 38% 62% / 51% 41% 59% 49%;
  float:left;
  shape-rendering: auto;
  shape-outside: circle();
  margin:35px;
   /* min-width: 250px; */
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  transition: ease-in-out 0.45s;
  -webkit-box-flex: 0;
  flex: 0 0 33.3333333333%;
}

.main-div{
  height:10%;
  width:40%;

}

.name{
  margin-top: 5%;
}


.social{
  font-size:3.0em;
  padding:0;
  
}

.nav-wrapper{
  background-color: #2f2f30
}

a{
  padding:3px;
}

.social{
  font-size: 40px;
  justify-content: center;
  display: inline-block;
  text-align: center;
  margin-bottom: 40px;
  
}

i{
  background-color: black;
  
}

.fab{
color:rgb(180, 163, 163)
}

path{
  color:black;
}

.card-img-top{
  size:20px;
}

#lang{
  margin-left: 20%;
  text-align: center;
}

.card-img-top{
height:170px;
}
/* 
#projects{
  padding:0;
 margin-top:50px;
} */

#connect{
  margin-left: 20%;
  text-align: center;
}

#projects{
  justify-content: center;
  text-align: center;
margin: auto;

}

.project{
  justify-content: center;
}

.container-fluid{
  display: inline-block
}

.link{
  justify-content: center;
  display: inline-block;
  text-align: center;
}
/* footer {
  width: 100%;
  background-color: #282d32;

} */


.center-form{
  width:50%;
  justify-content: center;
  display: block;
  text-align: center;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}