
body {
 
  font-family: sans-serif;font-size: 22px;
  margin: 0;
  padding:0;
  background: linear-gradient(-45deg, wheat, rgb(227, 230, 222) );
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
  
}

nav{
  background-color: black;
}

.navbar-light .navbar-nav .nav-link {
  color:wheat;
}


.btn{
  background-color: #2f2f30
}

.dropdown-content{
  background-color: #2f2f30
}
.navbar-light{
  color:wheat;
}

.aboutMe{
  color:wheat;
}

.bio{
  color:rgb(107, 112, 114)
}

.blob{
  top:50%;
  left:50%;
  /* width:600px; */
  padding:40px;
  box-sizing:border-box;
  border-radius:60% 40% 38% 62% / 51% 41% 59% 49%;
  background-color: #2f2f30;
}

.img-circle{
  background-size: cover;
  object-fit: cover;
  border-radius:60% 40% 38% 62% / 51% 41% 59% 49%;
  float:left;
  shape-rendering: auto;
  shape-outside: circle();
  margin:35px;
   /* min-width: 250px; */
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  transition: ease-in-out 0.45s;
  -webkit-box-flex: 0;
  flex: 0 0 33.3333333333%;
}

.main-div{
  height:10%;
  width:40%;

}

.name{
  margin-top: 5%;
}

/* .display-4{
  justify-content: center;
  text-align: center;
 

}  */
#lang{
  text-align: center;
  justify-content: center;
  margin-left: 60px;
}
.welcome{
  text-align: center;
  justify-content: center;
  margin-left: 80px;
}

.mainBio{
  
  margin:0 auto;
  z-index: 1000;
  height:30px;
} */

.text-center {
  text-align: center;
}

.jumbotron{
  background-color: rgb(119, 112, 112);
}
.main_bio{
  color:rgb(0, 0, 0);
  flex-wrap: wrap;
  float:left;
  margin-left:80px;
  }

.social{
  font-size:3.0em;
  padding:0
}

.nav-wrapper{
  background-color: #2f2f30
}

a{
  background-color: #2f2f30
}

.social{
  font-size: 40px;
}

.card-img-top{
  size:20px;
}

#lang{
  margin-left: 20%;
  text-align: center;
}

.card-img-top{
height:170px;
}

#projects{
  padding:0;
 margin-top:50px;
}

